.loader{
    height:150px;
    width:150px;
    border-top: 3px solid black;
    border-radius:50%;
    background-color: aqua;
    position: absolute;
    top:40%;
    animation: loader 1s infinite;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
}
@keyframes loader {
    
    to{
        transform:rotate(360deg);
    }
}
